.hello {

    position: absolute;
    top: 5px;
    height: 350px;
    width: 500px;
    background: red;
    border-radius: 20px;
}

h1 {
    color: white;
    font-family: Arial;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 6px;

}

.hello .hello-header {

    text-align: center;
    position: relative;
    top: -50px;

}

h3 {
    font-family: arial;
    font-size: 30px;
    color: white;
    position: relative;
    top: -60px;
}

body {
    font-family: Meiryo;
    font-size: 60px;
    text-align: center;

}

.hello-body {
    position: absolute;
    display: inline;
    top: 150px;
    left: 0px;
    height: 150px;
    width: 500px;
    background-color: white;
    vertical-align: middle;

}