ol .topmenu{
    list-style: none;
}

.topmenu .menuitem {
    display: inline-block;
    background-color: red;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid red 2px;
    opacity: 0.5;
    transition-property: background-color border-bottom opacity;
    transition-duration: 1000ms;
    transition-timing-function: linear;
}

.topmenu .menuitem:hover {
    background-color: lightblue;
    border-bottom: solid darkblue 2px;
    opacity: 1.0;
}